/***************************************TAG SELECTORS***************************************/

h1 {
    color: red;
    font-size: 200px
}



img:hover{
    background-color: #DEBACE;
}


/***************************************CLASS SELECTORS***************************************/

.ramen {

    background-color: #FFF6BD;
}

.mushroom {

    background-color: #FFD4B2;

}

.circular {

    border-radius: 100%;
}
/***************************************ID SELECTORS***************************************/

#heading {
    color: #86C8BC;
}